<div class="footer content">
    <div class="col1_f text ">
        <a href="{% url  "page_home" %}">Home  |</a>
        <a href="#">Terms and conditions  |</a>
        <a href="{% url  "page_products" %}">Products  |</a>
        <a href="{% url  "page_services" %}">Servises  |</a>
        <a href="{% url  "page_services" %}">Support  |</a>
        <a href="{% url  "page_contacts" %}">Contact us</a>
    </div>
    <div class="col3_f text">
        <p>Main office:
        5 Holly Terrace
        New London, CT 06320
        tel: 860-823-8301
        fax: 860-777-2506
        </p>
    </div>
</div>