{% extends 'base.html' %}

{% block content %}
<div class="content_pr_list">
    <h3 class="pr_tag">Cart</h3>
    <hr class="hr"/>
    <div class="text full">
        {% if cart %}
            <table class="table">
                <tr>
                    <th class="th">License</th>
                    <th class="th">Price</th>
                    <th class="th" colspan="4">Quantity</th>
                </tr>

                {% for license, count in cart %}
                    <tr>
                        <td class="td">{{license.verbose_name}}</td>
                        <td class="td2">{{license.price}}$</td>
                        <td class="td2"><a onclick="alert('+')" class="button10">+</a></td>
                        <td id="{{ license.code }}" class="td2">{{ count }}</td>
                        <td class="td2"><a onclick="alert('-')" class="button11">-</a></td>
                        <td class="td2"><a onclick="alert('delete')" class="button11">Delete</a></td>
                    </tr>
                {% endfor %}
            </table>
            <h3>Summary: {{ summary }}$</h3>
            <a href="{% url "page_contact_info" %}"><div class="button6">Buy</div></a>
            <a onclick="alert('clean cart')"><div class="button7">Clean cart</div></a>
        {% else %}
            <h3 class="cart_empty">No items in your cart!</h3>

        {% endif %}
    </div>
</div>
{% endblock %}