<div id='cssmenu'>
  <ul>
     <!-- <li><a href='index.html'><span>Products</span></a></li> -->
     <li><a href='#'><span>Trial Verion</span></a></li>
     <li><a href='#'><span>Brochure</span></a></li>
     <li><a href='Help.html'><span>Help</span></a></li>
     <li><a href='#'><span>Compability</span></a></li>
     <li><a href='#'><span>FAQ</span></a></li>
     <!-- <li><a href='#'><span>User Guide</span></a></li> -->
{#     <li><a href='Pricing.html'><span>Pricing</span></a></li>#}
     <li class='last'><a href='{% url "page_product_pricing" product.slug %}' class="orange"><strong>Buy</strong></a></li>
  </ul>
</div>
